# Database
DRUPAL_DB_DRIVER=pgsql
DRUPAL_DB_HOST=postgres
DRUPAL_DB_PORT=5432
DRUPAL_DB_NAME=rareimagery
DRUPAL_DB_USER=rareimagery
DRUPAL_DB_PASSWORD=changeme

# PostgreSQL container
POSTGRES_DB=rareimagery
POSTGRES_USER=rareimagery
POSTGRES_PASSWORD=changeme

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Printful
PRINTFUL_API_KEY=xxx
PRINTFUL_WEBHOOK_SECRET=xxx

# Drupal
DRUPAL_HASH_SALT=generate-a-random-64-char-hash-here
DRUPAL_TRUSTED_HOST_PATTERNS='^localhost$|^rareimagery\.net$'
