{#
/**
 * @file
 * React storefront app mount point.
 *
 * The React app is loaded via the 'rareimagery/storefront-app' library
 * and mounts to this div. Initial store data is passed via drupalSettings.
 */
#}
<div id="storefront-root"></div>
